body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !important;
  color: #555;
  font-size: 14px;
  margin: 0;
}
a {
  color: #555;
}

/* Forms */

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

/* Odinochka */

#header,
#groups,
#footer {
  padding: 1rem 2rem;
}
#footer {
  margin-top: 2rem;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
}
.navbar .logo {
  display: flex;
  margin: 0;
  font-size: 2.2rem;
  background-image: url(img/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 46px;
}
.navbar .logo strong {
  font-weight: 200;
}
.navbar .logo em {
  font-style: normal;
  font-weight: 200;
}

.navbar .bar {
  display: flex;
  align-items: center;
}
.navbar .info {
  font-size: 1rem;
  font-weight: 300;
  color: #fff;
  background-color: rgba(180, 184, 204, 0.4);
  border-radius: 2rem;
  padding: 0.3rem 1rem;
}

.navbar .bar > * {
  margin-left: 1rem;
}
.navbar .bar .form-control {
  width: auto;
  display: inline-block;
}
.navbar .bar label {
  margin-right: 6px;
}

#groups {
  padding-top: 0.1rem;
}
.group {
  margin-top: 0.8rem;
  padding-top: 0.5rem;
  border-top: 1px dashed rgba(180, 184, 204, 0.6);
}

header.tab {
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  padding: 0.35rem;
  margin-bottom: 0.4rem;
}
header.tab:hover {
  background-color: rgba(180, 184, 204, 0.1);
}

header.tab .title {
  font-size: 1.4rem;
  font-weight: 500;
}
header.tab .info {
  font-size: 0.75rem;
  color: rgba(180, 184, 204, 0.9);
  padding-top: 0.32rem;
  margin-left: auto;
}

a.tab {
  font-weight: 200;
  text-decoration: none;
  display: flex;
  padding: 0.4rem;
  padding-left: 2rem;
  background-repeat: no-repeat;
  background-position: 0.4rem center;
  background-size: 16px;
}
a.tab:hover {
  background-color: rgba(180, 184, 204, 0.1);
}

a.tab[href*='youtube.com/watch?v=']:hover::after,
a.tab[href*='youtube.com/watch?v=']:focus::after {
  content: '\00a0\00a0\00a0\2198';
  text-decoration: none;
}

.bt-del-group,
.bt-open-group,
.bt-del-tab {
  display: inline-block;
  width: 1rem;
  margin-left: 0.6rem;
  /*background-color: #fff;*/
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
  display: none;
  opacity: 0.5;
  /*border: 1px solid #ccc;*/
}
.bt-del-group,
.bt-open-group {
  width: 1.4rem;
}
.bt-del-group:hover,
.bt-open-group:hover,
.bt-del-tab:hover {
  /*background-color: #f00;*/
  cursor: pointer;
  opacity: 1;
}

.bt-del-group,
.bt-del-tab {
  background-image: url(img/outline_close_black_48dp.png);
}
.bt-open-group {
  background-image: url(img/outline_open_in_browser_black_48dp.png);
}

header.tab:hover .bt-del-group,
header.tab:hover .bt-open-group,
a.tab:hover .bt-del-tab {
  display: inline-block;
}

/* Options */

fieldset {
  float: left;
  border-style: dashed;
}

button[name='import'] {
  display: none;
}

input[name='importfile'][value]:not([value='']) ~ button[name='import'] {
  display: block;
}

#ytouter {
  position: fixed;
  bottom: 0;
  right: 0;
  resize: horizontal;
  transform: rotate(-180deg);
  overflow: hidden;
}

#ytouter iframe {
  transform: rotate(-180deg);
  margin: 0;
  width: 100%;
  height: 100%;
}

/* toggle based on https://alligator.io/css/collapsible/ */
footer {
  position: sticky;
  background: white;
  bottom: 0;
  min-height: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-top: 1px solid black;
  margin-bottom: 0;
}

.lbl-toggle ~ p {
  display: inline;
}

form.options,
input.toggle {
  display: none;
}

.toggle:checked + .lbl-toggle + form.options {
  display: block;
}
